Ignore all .pem files
*.pem

# Arquivos para documentação do projeto e testes
assets/demonstration_case.psd
assets/box/Blockstream-Jade-Box-Back.webp
assets/box/Blockstream-Jade-Box-Front.webp
assets/box/Blockstream-Jade-Box-Side.webp
assets/box/Blockstream-Jade-Cards-Back.webp
assets/box/Box Jade.cdr
assets/box/Cópia_de_segurança_de_Box Jade.cdr
assets/box/fonts/Caligor Sans Clean.7z
assets/box/fonts/Compasse.7z
assets/box/fonts/DIN Next LT Arabic Medium.7z
assets/box/fonts/Huley 1967.7z
jade_secure_boot.md
partitions_custom.csv
old_atualizar_jade_wallet.md

# Ignorar arquivos HTML específicos
test.html

# Ignorar arquivos de firmware específicos
w_batt/main/CMakeLists.txt
w_batt/main/gui.c
w_batt/main/input/navbtns.inc
w_batt/main/Kconfig.projbuild
w_batt/main/power.c
w_batt/main/power/tdisplay.inc
w_batt/main/process.h
wo_batt/main/CMakeLists.txt
wo_batt/main/gui.c
wo_batt/main/input/navbtns.inc
wo_batt/main/Kconfig.projbuild
wo_batt/main/power.c
